@model Assignment2.ModelGenTest.Person

@{
    Layout = "_Layout";
}

@section name{
    @Model.FirstName @Model.LastName
}

@section  dashboard{ 
    class="active"
}


<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to SMMS, @Model.FirstName @Model.LastName</h3>
        <p class="panel-subtitle">Date of Birth: @Model.Dob.ToString("dd/MM/yyyy") </p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</div>
<!-- END OVERVIEW -->
<div class="row">
    <div class="col-md-6">
        <!-- RECENT PURCHASES -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Enrollments</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Instrument Name</th>
                            <th>Level</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @await (Component.InvokeAsync<Assignment2.ViewComponents.SpecialsViewComponent>())
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> </span></div>
                    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Enrollments</a></div>
                </div>
            </div>
        </div>
        <!-- END RECENT PURCHASES -->
    </div>
    <div class="col-md-6">
        <!-- MULTI CHARTS -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Classes</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div id="visits-trends-chart" class="ct-chart"></div>
            </div>
        </div>
        <!-- END MULTI CHARTS -->
    </div>
</div>
